.container__header {
  background-color: $header-bng;
  background: url('/images/header-bng/bng1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $color;
  height: $big-screen;
  display: flex;
  justify-content: center;
  align-items: center;

  .welcome__text {
    font-size: $xl-size;

    .welcome__text-name {
      color: rgba(0, 0, 0, .55);
    }
  }
}