/node_modules/
RD1/portfolio/node_modules/
RD1/cli-calc/node_modules/
RD1/jwt_node_auth/node_modules/
.env
RD2/writr/server/node_modules
RD2/writr/server/src/config/config.json

# Client side
RD2/writr/client/node_modules
RD2/writr/client/.next