/* Lets get painting */

*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body
{
  font-family: Arial, Helvetica, sans-serif;
}

.container
{
  display: flex;
  flex-direction: column;
  background: url('../images/telluride-XL.jpg') no-repeat;
  background-position: center center;
  background-size: cover;
}

.container__header
{
  position: fixed;
  width: 100%;
  color: white;
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 5rem;
  transition: background .3s ease-in-out;
}

.container__header:hover
{
  background: rgba(0, 0, 0, .5);
}

.logo {
  padding-left: 2rem;
}

.navigation ul
{
  display: flex;
  list-style: none;
}

.navigation ul li
{
  padding: 2rem;
  cursor: pointer;
  font-weight: 300;
  transition: border-bottom .3s ease-in-out;
}

.navigation ul li:hover
{
  border-bottom: 2px solid #f8df01;
}

.container__section
{
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}