html {
  background: $bgn;
  font-size: 62.5%;
  margin-top: -2rem; // this shouldn't be here tho...
}

body {
  font-family: Helvetica, Arial, 'sans-serif';
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}