// colors
$bgn: hsl(0, 0%, 92%);
$darker-bgn: hsl(0, 2%, 70%);
$header-bng: #030c1f;
$color: #f9f9f9;

// spacing
$xs-size: .5rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
