/* RESET THE BODY */

*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ROOT */
:root
{
  --color: #f9f9f9;
  --bngColor: #030c1f;

  /* lengths */
  --xs: .25rem;
  --s: 1rem;
  --m: 1.5rem;
  --l: 2rem;
  --xl: 4rem;
}

/* BODY */
body
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* THE HEADER SECTION */
.container__header
{
  background-color: var(--bngColor);
  color: var(--color);
  height: 35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../../public/images/header-bng/bng1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome__text
{
  font-size: var(--l);
  font-weight: 200;
  letter-spacing: var(--xs);
}

.welcome__text-name
{
  font-weight: bold;
}