body {
  background: linear-gradient(260deg, #9d1f41, #1b367e);
  color: #fcfcfc;
  font-size: 2rem;
}

.container {
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: 1fr 3fr;
}

.items {
  background-color: #BADA55;
}
